<template>
    <div class="board">
        <div class="row">
            <div class="col-md">
                <task-lane id="todo" title="To-Do" :items="todoItems"></task-lane>
            </div>
            <div class="col-md">
                <task-lane id="inProgress" title="In progress" :items="inProgressItems"></task-lane>
            </div>
            <div class="col-md">
                <task-lane id="done" title="Done" :items="doneItems"></task-lane>
            </div>
            <div class="col-md">
                <task-lane id="onHold" title="On Hold" :items="onHoldItems"></task-lane>
            </div>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import TaskLane from './TaskLane';

export default {
    name: 'KanbanBoard',
    components: {
        'task-lane': TaskLane,
    },
    computed: mapState({
        todoItems: s => s.items.todo,
        inProgressItems: s => s.items.inProgress,
        doneItems: s => s.items.done,
        onHoldItems: s => s.items.onHold,
    }),
};
</script>
<style>
    .card h3 {
        font-size: 1.5rem;
}
@media all and (min-width: 768px) {
    div.board { 
        min-height: 78vh;
    }
    .card-body, {
        min-height: 78vh;
    }
    div.task-lane-item {
        min-height: 0;
    }
}
</style>
