<template>
    <div id="app">
        <div class="page-header">
            <h1>AO Kanban Board</h1>
            <p class="lead">AO Team Kanban Board by Chris Mann</p>
        </div>
        <menu-bar></menu-bar>
        <router-view/>
    </div>
</template>

<script>

import MenuBar from '@/components/MenuBar';

export default {
    name: 'App',
    components: {
        'menu-bar': MenuBar
    }
};
</script>

<style>
#app {
    width: 95%;
    margin: 5px auto;
}
.page-header h1 {
    font-weight: 300;
}
</style>
